body {
  font-family: 'Geist', sans-serif;
  margin: 0;
  text-align: center;
  position: relative;
  background-color: #f9f9f9;
}

body::before {
  content: '';
  position: fixed; /* Keep background fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/section_1_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px; 
}

.tech-card {
  background: white;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 1px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.tech-card img {
  width: 50px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #555;
}
