body {
  font-family: 'Geist', sans-serif;
  margin: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img/section_1_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
}


.section_1_content {
  font-size: 4rem;
  font-weight: bold;
  color: #232223;
  margin-top: 50px;
  position: relative;
  z-index: 1;
  opacity: 0; 
  transform: translateY(50px); 
  animation: fadeUp 1.5s ease-out forwards; 
}

@keyframes fadeUp {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.services-button {
  background-color: #f6f6f7; /* Background color */
  color: black; /* Text color */
  border: none; /* No border */
  border-radius: 8px; /* Slightly rounded corners */
  padding: 10px 20px; /* Padding for the button */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1rem; /* Font size */
  display: inline-block; /* Inline block for spacing */
  margin: 10px; /* Margin for spacing between buttons */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
}

/* Smooth zoom-in effect on hover */
.services-button:hover {
  background-color: #5a5a5a; /* Darker shade on hover */
  transform: scale(1.05); /* Slightly zoom in */
}
.button-container {
  display: flex; /* Use flexbox for alignment */
  flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
  justify-content: center; /* Center the buttons */
  margin-top: 40px; /* Increased space above the button container */
}


.particles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 0;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(69, 122, 255, 0.7);
  transform-style: preserve-3d;
  animation: float 5s infinite;
}

@keyframes float 
{
  0% {
      transform: translateY(0) rotateX(0deg) rotateY(0deg);
  }
  50% {
      transform: translateY(-20px) rotateX(360deg) rotateY(360deg);
  }
  100% {
      transform: translateY(0) rotateX(0deg) rotateY(0deg);
  }
}

@media (max-width: 600px) {

  .button-container {
    display: none; 
  }

  .section_1_content {
    font-size: 2.5rem;
    margin-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    opacity: 0;
    animation: fadeUpMobile 1.5s ease-in-out forwards;
}

@keyframes fadeUpMobile {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

}
